.topnav
{
  overflow: hidden;
  background-color: #333;
  width: 100%;
}
.topnav a {
  margin-top: 0;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px 85px;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.header
{
  font-family: sans-serif;
  color: lightgray;
}
.header:hover
{
  color: #ff0;
}

.section
{
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section h1
{
  color: #ff0;
  text-align: center;
  font-size: 4rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  font-family: sans-serif;
  opacity: 0.8;
  margin-bottom: 100px;
}
.video-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.color-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  background-color:lightblue;
  width: 100%;
  height: 95vh;
  opacity: 0.4; 
}

video{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}